.pedidos-container {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - 12vh - 140px - 8rem);
}

.pedidos-table {
  width: 75%;
}

.en-camino {
  color: #ffee00;
  font-weight: bold;

}

.recibida {
  color: #2DAE15;
  font-weight: bold;
}

.cancelada {
  color: red;
  font-weight: bold;
}

