.feedback-approved-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 12vh - 140px - 8rem);
  margin: 0 auto;
  width: 55rem;
  h1 {
    padding: 2rem 0;
  }
  .feedback-approved-number-order-container {
    align-self: flex-start;
    .feedback-approved-number-order-label {
      font-weight: bold;
    }
    .feedback-approved-number-order {
      color: #ffb922;
      font-weight: bold;
    }
  }
  h2 {
    margin: 2rem 0;
  }

  .feedback-approved-social-icons {
    display: flex;
    width: 15rem;
    justify-content: space-between;

    .fa-instagram {
      transform: scale(2);
    }
    .fa-facebook-square {
      border-radius: 50%;
      transform: scale(2);
    }
  }
}

.feedback-rejected-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: calc(100vh - 12vh - 140px - 8rem);
}

.button-feedback-rejected {
  background-color: #000;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  border: none;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    background-color: #000;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    border: none;
  }
}
