.feedback-approved-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 12vh - 140px - 9rem);
  margin: 0 auto;
  width: 55rem;
  padding: 1rem;
  h1 {
    padding: 3rem 0;
    text-align: center;
  }
  .feedback-approved-number-order-container {
    align-self: flex-start;

    .feedback-approved-number-order-label {
      font-weight: bold;
    }
    .feedback-approved-number-order {
      color: #ffb922;
      font-weight: bold;
    }
  }
  h2 {
    margin: 4rem 0 2rem 0;
    text-align: center;
  }

  .feedback-approved-social-icons {
    display: flex;
    width: 15rem;
    justify-content: space-between;
    margin: 2rem 0;

    .fa-instagram {
      transform: scale(2);
    }
    .fa-facebook-square {
      transform: scale(2);
    }
  }
}

.feedback-rejected-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 12vh - 140px - 9rem);
  margin: 0 auto;
  width: 55rem;
  padding: 1rem;
  h1 {
    margin: 6rem 0 2rem 0;
    text-align: center;
  }

  p {
    margin: 1rem 0;
  }

  .button-feedback-rejected {
    background-color: #000;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    border: none;
    margin: 1rem 0;
    &:hover,
    &:active,
    &:visited,
    &:focus {
      background-color: #000;
      font-weight: bold;
      outline: none;
      box-shadow: none;
      border: none;
    }
  }
}

@media screen and (max-width: 930px) {
  .feedback-approved-container {
    width: 100%;
  }

  .feedback-rejected-container {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  
  
    .feedback-rejected-container {
        h1 {
            margin: 3rem 0 ;
        
          }
    }
  }
  
