.direccion-container {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: calc(100vh - 12vh - 140px - 8rem);
}

.datos-direccion {
  max-width: 80%;
  flex: 1 1;
  h4 {
    font-family: "Roboto Slab", serif;
  }
  .btn-direccion-panel {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 800px) {
  .direccion-container {
    flex-flow: column nowrap;
    height: auto;
    .datos-direccion {
      max-width: 100%;
      margin: 2rem 0;
    }
  }
}
