.login-form-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  flex-flow: column wrap;
  align-items: center;
  Button{
    margin:0.5em 0;
    width: 10em;
  }
}

.form-text-login {
  display: flex;
  flex-flow: column wrap;
  width: 18.75em;
  margin: 0;
}

.crear-cuenta-login,
.olvido-password {
  margin: 0.5em auto;
}

.crear-cuenta-login,
.olvido-password {
  a {
    color: #333;
  }
  a:hover {
    color: #000;
    font-weight: bold;
  }
}
