.crud-form-container {
  display: flex;
  align-items: flex-start;
  width: 836px;
  margin: auto;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 50px;
  border-radius: 10px;
}

.header-crud-form {
  background-color: #ffba00;
  width: 836px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 4px 0;
}

.body-crud-form { 
  display: flex;
  width: 836px;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.body-crud-form input{
   width: 300px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
}

.linea-cool {
  width: 836px;
  height: 1px;
  background-color: #000;
}

.crud-form-name {
  display: flex;
  flex-flow: column wrap;
  width: 366px;
}

.botones-crud-form{
  display: flex;
  width: 836px;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#categoria{
  height: 40px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #000;
}
