.modal-title{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header-crud-form{
  background-color: #ffba00;
}

.titulo-form-crud{
  width: 408px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.8rem;
}

.btn-cerrar-form-modal{
  width: 60px;
  background-color: #ffba00;
}

Button .fa-times-circle{
  color: #000; 
}