.jumbo-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../../img/banner-sushi.jpg");
  background-size: cover;
  height: 45rem;
}

.jumbo-home .column-link-home {
  margin-right: 8rem;
  color: #fff;
}

.jumbo-home .column-link-home h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.jumbo-home .column-link-home h1 a {
  font-family: "Permanent Marker", cursive;
}

.jumbo-home .column-link-home h1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3 ease-in;
  transition: -webkit-transform 0.3 ease-in;
  transition: transform 0.3 ease-in;
  transition: transform 0.3 ease-in, -webkit-transform 0.3 ease-in;
  color: #ffb922;
}

.jumbo-home .column-link-home h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
}

.seccion {
  background-color: #000;
  height: 5rem;
}

.seccion-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  font-weight: bolder;
  height: 5rem;
  text-align: center;
  color: #fff;
  font-family: "Permanent Marker", cursive;
  text-transform: uppercase;
}

.redes {
  background: url("https://www.crushpixel.com/big-static12/preview4/black-wall-texture-rough-background-1086203.jpg");
  padding: 1rem 0;
}

.encuentranos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto;
}

.encuentranos .box-1-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #000;
  color: #fff;
  max-width: 50%;
  height: 26.5rem;
  padding: 1rem 4rem;
}

.encuentranos .box-1-wrap h3 {
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Permanent Marker", cursive;
}

.encuentranos .box-1-wrap h4 {
  padding: 0 0 1rem 0;
  font-family: "Permanent Marker", cursive;
}

.encuentranos .box-1-wrap h4 a {
  font-weight: bold;
  color: #ffb922;
}

.encuentranos .box-1-wrap h4 a:hover {
  color: #ffdf10;
}

.encuentranos .box-1-wrap p {
  font-size: 1.5rem;
  font-family: "Permanent Marker", cursive;
}

.encuentranos .box-1-wrap button a {
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: "Permanent Marker", cursive;
}

.encuentranos .box-1-wrap button a:hover {
  color: #000;
}

.encuentranos .box-2-wrap {
  background: url("../../img/promo1.jpg");
  background-size: cover;
  width: 50%;
  height: 26.5rem;
  -webkit-box-shadow: 2px 2px 0 0 #00000033;
          box-shadow: 2px 2px 0 0 #00000033;
}

.encuentranos .box-3-wrap {
  background: url("../../img/ceviche.jpeg");
  background-size: cover;
  background-position: 40%;
  width: 50%;
  height: 25rem;
  -webkit-box-shadow: 0 2px 2px 0 #00000033;
          box-shadow: 0 2px 2px 0 #00000033;
}

.encuentranos .box-4-wrap {
  width: 50%;
  height: 25rem;
  background-color: #000;
  color: #fff;
  padding: 1rem 4rem;
  -webkit-box-shadow: 0 0 2px 0 #00000033;
          box-shadow: 0 0 2px 0 #00000033;
}

.encuentranos .box-4-wrap h3 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Permanent Marker", cursive;
  text-transform: uppercase;
}

.encuentranos .box-4-wrap .social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.encuentranos .box-4-wrap .social-network .footer-ig {
  margin: 20% 10%;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

.encuentranos .box-4-wrap .social-network .footer-facebook {
  margin: 20% 10%;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

.encuentranos .box-4-wrap h4 {
  padding: 1.5rem 0 0 0;
  font-family: "Permanent Marker", cursive;
}

.map {
  width: 80%;
  height: 50em;
  z-index: 1 !important;
}

.map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-container :first-child {
  z-index: 1;
}

.horarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.horarios .horario-item {
  border: #000 solid 4px;
  text-align: center;
  border-style: solid none solid none;
  padding: 0.5rem 0;
  margin: 1rem 1.5rem;
}

.horarios .horario-item h3 {
  font-family: "Permanent Marker", cursive;
}

.horarios .horario-item h4 {
  font-family: "Permanent Marker", cursive;
}

@media screen and (max-width: 1600px) {
  .encuentranos {
    width: 80%;
  }
}

@media screen and (max-width: 1444px) {
  .encuentranos {
    width: 80%;
  }
}

@media screen and (max-width: 1080px) {
  .encuentranos {
    width: 85%;
  }
  .map {
    width: 85%;
    height: 45em;
  }
}

@media screen and (max-width: 1024px) {
  .encuentranos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
  .encuentranos .box-1-wrap {
    max-width: 68.1%;
    -webkit-box-shadow: 2px 2px 0 0 #00000033;
            box-shadow: 2px 2px 0 0 #00000033;
  }
  .encuentranos .box-1-wrap h3 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .encuentranos .box-1-wrap h4 {
    font-size: 1.3rem;
  }
  .encuentranos .box-1-wrap button a {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .encuentranos .box-2-wrap {
    width: 68.1%;
    height: 26.5rem;
    -webkit-box-shadow: 0 0 2px 0 #00000033;
            box-shadow: 0 0 2px 0 #00000033;
  }
  .encuentranos .box-3-wrap {
    background-position: 40%;
    width: 68.1%;
    height: 25rem;
    -webkit-box-shadow: 0 0 2px 0 #00000033;
            box-shadow: 0 0 2px 0 #00000033;
  }
  .encuentranos .box-4-wrap {
    width: 68.1%;
    height: 25rem;
    background-color: #000;
    -webkit-box-shadow: 0 2px 2px 2px #00000033;
            box-shadow: 0 2px 2px 2px #00000033;
  }
  .map {
    width: 85%;
    height: 40em;
  }
}

@media screen and (max-width: 950px) {
  .jumbo-home .column-link-home h1 {
    font-size: 2.5rem;
  }
  .jumbo-home .column-link-home h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .jumbo-home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 30rem;
  }
  .jumbo-home .column-link-home {
    margin-right: 1rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  .jumbo-home .column-link-home h1 {
    font-size: 2.5rem;
  }
  .jumbo-home .column-link-home h2 {
    font-size: 1.5rem;
  }
  .map {
    width: 90%;
    height: 35em;
  }
}

@media screen and (max-width: 680px) {
  .jumbo-home {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25rem;
  }
  .jumbo-home .column-link-home {
    margin-right: 0;
    margin-bottom: 2rem;
    color: #fff;
  }
  .jumbo-home .column-link-home h1 {
    font-size: 2rem;
  }
  .jumbo-home .column-link-home h2 {
    font-size: 1.5rem;
  }
  .encuentranos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
  .encuentranos .box-1-wrap {
    max-width: 78.8%;
    padding: 1rem 2rem;
  }
  .encuentranos .box-1-wrap h3 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .encuentranos .box-1-wrap h4 {
    padding: 1rem 0 0 0;
    font-size: 1.2rem;
  }
  .encuentranos .box-1-wrap button a {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .encuentranos .box-1-wrap p {
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
  .encuentranos .box-2-wrap {
    width: 78.8%;
    height: 18rem;
  }
  .encuentranos .box-3-wrap {
    background-position: 40%;
    width: 78.8%;
    height: 18rem;
  }
  .encuentranos .box-4-wrap {
    width: 78.8%;
    height: 25rem;
    background-color: #000;
  }
}

@media screen and (max-width: 627px) {
  .encuentranos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
  .encuentranos .box-1-wrap {
    max-width: 83%;
    padding: 1rem 2rem;
  }
  .encuentranos .box-1-wrap h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .encuentranos .box-1-wrap h4 {
    padding: 1rem 0 0 0;
    font-size: 1.2rem;
  }
  .encuentranos .box-1-wrap button a {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .encuentranos .box-1-wrap p {
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
  .encuentranos .box-2-wrap {
    width: 83%;
    height: 18rem;
  }
  .encuentranos .box-3-wrap {
    background-position: 40%;
    width: 83%;
    height: 18rem;
  }
  .encuentranos .box-4-wrap {
    width: 83%;
    height: 25rem;
    background-color: #000;
  }
}

@media screen and (max-width: 450px) {
  .jumbo-home {
    height: 25rem;
  }
  .jumbo-home .column-link-home h1 {
    font-size: 1.5rem;
  }
  .jumbo-home .column-link-home h2 {
    font-size: 1rem;
  }
  .encuentranos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
  .encuentranos .box-1-wrap {
    max-width: 85%;
    padding: 0 2rem;
  }
  .encuentranos .box-1-wrap h3 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .encuentranos .box-1-wrap h4 {
    padding: 1rem 0 0 0;
    font-size: 1.2rem;
  }
  .encuentranos .box-1-wrap button a {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .encuentranos .box-1-wrap p {
    padding: 1rem 0 0 0;
    font-size: 1.2rem;
  }
  .encuentranos .box-2-wrap {
    width: 85%;
    height: 14rem;
  }
  .encuentranos .box-3-wrap {
    background-position: 40%;
    width: 85%;
    height: 14rem;
  }
  .encuentranos .box-4-wrap {
    width: 85%;
    height: 25rem;
  }
  .encuentranos .box-4-wrap .social-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .encuentranos .box-4-wrap .social-network .footer-ig {
    margin: 5% 10%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .encuentranos .box-4-wrap .social-network .footer-facebook {
    margin: 5% 10%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@media screen and (max-width: 362px) {
  .jumbo-home {
    height: 25rem;
  }
  .jumbo-home .column-link-home h1 {
    font-size: 1.5rem;
  }
  .jumbo-home .column-link-home h2 {
    font-size: 1rem;
  }
  .encuentranos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
  .encuentranos .box-1-wrap {
    max-width: 90%;
    padding: 0 1rem;
  }
  .encuentranos .box-1-wrap h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .encuentranos .box-1-wrap h4 {
    padding: 0 0 0 0;
    font-size: 1.2rem;
  }
  .encuentranos .box-1-wrap button a {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .encuentranos .box-1-wrap p {
    padding: 0.5rem 0 0 0;
    font-size: 1.2rem;
  }
  .encuentranos .box-2-wrap {
    width: 90%;
    height: 12rem;
  }
  .encuentranos .box-3-wrap {
    background-position: 40%;
    width: 90%;
    height: 12rem;
  }
  .encuentranos .box-4-wrap {
    width: 90%;
    height: 25rem;
    background-color: #000;
  }
}
/*# sourceMappingURL=Inicio.css.map */