.container-contact-form {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid #00000020;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  .header-contact-form {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
  }
  .contact-form {
    padding: 1rem;
    display: flex;
    .contact-form-text {
      font-size: 1.5em;
      font-weight: bold;
    }
    .btn-contact-form {
      margin: 0 auto;
    }
  }
}
