.dashboard-navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 15rem;
  margin: 0;
  transition: 0.3s ease;
  position: sticky;
  top: 0;
  .dashboard-nav-btn {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0.5rem 0 0;

    .dashboard-navbar-icon {
      color: #fff;
      cursor: pointer;
      margin-right: 1rem;
      transition: transform 0.3s ease-in-out;
    }
  }

  .dashboard-navbar-navlinks {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem 0;
    width: 100%;
    .dashboard-navbar-navlink-item {
      display: flex;
      align-content: center;
      margin: 0;
      height: 4rem;
      transition: background-color 0.3s ease;
      &:hover,
      &.active {
        background-color: #ffb922;
      }
      .fas {
        width: 32px;
      }
      i {
        margin: auto 2rem auto 2.5rem;
        transition: margin 0.3s ease;
      }
      p {
        font-size: 1.2rem;
        font-weight: bold;
        margin: auto 0;
      }
    }
  }

  &.hide {
    transition: 0.3s ease;
    width: 4rem;
    .dashboard-nav-btn {
      .dashboard-navbar-icon {
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
      }
    }
    .dashboard-navbar-navlinks {
      .dashboard-navbar-navlink-item {
        i {
          margin: auto 1rem;
          transition: margin 0.3s ease;
        }
        p {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1578px) {
  .dashboard-navbar-navlinks {
    li{
        padding: 0 0.5rem;
    }
  }
}
