.checkout {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem 0;
  .left-side-checkout {
    max-width: 66.6%;
    flex: 1 1;
    .info-container-checkout {
      display: flex;
      flex-flow: column nowrap;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(5.5px);
      border-radius: 10px;
      border: 1px solid #00000020;
      padding: 1rem 1.2rem;
      margin: 0 0.5rem 2rem 0.5rem;
      .title-info-checkout {
        display: flex;
        justify-content: space-between;
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
        font-weight: bold;
        .btn-editar-checkout {
          cursor: pointer;
          font-size: 1rem;
        }
      }
      .row-checkout {
        display: flex;
        margin: 0.5rem 0;
        .logo-row-checkout {
          width: 24px;
        }
        .data-row-checkout {
          margin-left: 1rem;
        }
      }
    }
  }
  .aside-container-checkout {
    flex: 1 1;
    max-width: 33.3%;
    .aside-info-checkout {
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(5.5px);
      border-radius: 10px;
      border: 1px solid #00000020;
      padding: 1rem 1.2rem;
      margin: 0 0.5rem 1.5rem 0.5rem;
      position: sticky;
      top: 16px;
      .aside-confirmacion-checkout {
        font-size: 1.5rem;
        margin: 0 0 2rem 0;
        font-weight: bold;
      }
      .row-aside-checkout {
        display: flex;
        justify-content: space-between;
        margin: 0 0 1rem 0;
        .precio-checkout-label {
          flex: 1 1;
        }
        .precio-checkout-price {
          font-weight: bold;
        }
      }
      .btn-pagar-pedido {
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        .btn-confirmar-pedido{
            background-color: #000;
            color: #fff;
            font-weight: bold;
            width: 16rem;
        }
      }
    }
  }
  .btn-confirm-save-data-checkout {
    margin: 0 auto;
  }
  .mercadopago-button {
    background-color: #000;
    color: #fff;
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    justify-content: center;
    margin: 1rem auto;
    width: 16rem;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (max-width: 992px) and (min-width: 767px ) {
    .btn-pagar-pedido {
        .btn-confirmar-pedido{
            width: 100% !important;
        }
      }
}

@media screen and (max-width: 766px) {
  .checkout {
    flex-flow: column nowrap;
    .left-side-checkout {
      max-width: 100%;
    }
    .aside-container-checkout {
      max-width: 100%;
      margin-top: 1.5rem;
    }
  }
}
