*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    background-color: #000;
}

.nav-logo{
    background-image: url("../../img/logo1.png");
    background-size: cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.nav-container{
    display: flex;
    align-items: flex-start;
    width: 1136px;
    margin:auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
}

.nav-links{
    display: flex;
    align-items: center;
    flex-flow: row wrap;

}

.nav-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    width: 80px;
    padding: 0px;
}

.fa-user{
    color: #fff;
}

.fa-shopping-cart{
    color:#fff;
    z-index: -1 ;
}

.item-nav-links a{
    color: #fff;
    margin: 0 8px;
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
    padding: 1rem;
}

.icono-barras{
    display:none;
}

.icono-x{
    display:none;
}

.contador-carrito-compras{
  background-color: #ffb922;
  color:#fff;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 1000;
  margin: 0 -0.8rem -0.5rem 0;
}

.carrito-compras-container{
  display:flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-top: -0.9rem;
}