nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 140px;
  width: 100%;
  z-index: 1000000;
}

.nav-logo {
  background-image: url("../../img/logo1.png");
  background-size: cover;
  height: 7em;
  width: 7em;
  border-radius: 50%;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 50%;
}

.item-nav-links {
  letter-spacing: 2px;
  font-weight: bold;
}

.item-nav-links a {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.5em;
  font-family: "Permanent Marker", cursive;
}

.item-nav-links a:hover {
  color: white;
}

.nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
}

.item-nav-icons .fa-user {
  color: rgba(255, 255, 255, 0.85);
}

.item-nav-icons .fa-user:hover {
  color: #fff;
}

.item-nav-icons .fa-shopping-cart {
  color: rgba(255, 255, 255, 0.85);
  z-index: 1;
}

.item-nav-icons .fa-shopping-cart:hover {
  color: #fff;
}

.icon-user .dropdown-icon-user .dropdown-menu-icon-user {
  left: -3rem !important;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.icon-user .dropdown-icon-user .dropdown-item {
  font-size: 600;
}

.icon-user .dropdown-icon-user .dropdown-item:active, .icon-user .dropdown-icon-user .dropdown-item:hover, .icon-user .dropdown-icon-user .dropdown-item:visited {
  background-color: #ffb922;
}

.icon-cart Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-cart Button :nth-child(1) {
  z-index: 10;
  background-color: #ffb922;
  border-radius: 50%;
  border: 1px solid #000;
  height: 1.5em;
  width: 1.5em;
  margin: 0 -0.8em -0.5em 0;
}

.icono-barras {
  cursor: pointer;
  color: #fff;
  display: none;
}

.icono-x {
  display: none;
}

.carrito-compras-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -1rem;
  outline: none;
  background: none;
  border: none;
}

@media screen and (max-width: 719px) {
  body {
    overflow-x: hidden;
  }
  .nav-logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .icono-barras {
    display: block;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .nav-icons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 1em;
    margin-right: 1em;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 92vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    top: 140px;
    margin: 0;
    background-color: #000;
    font-size: 2rem;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 100;
  }
  .active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=Navbar.css.map */