nav {
  display: flex;
  background-color: #000;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 140px;
  width: 100%;
  z-index: 1000000;
}

.nav-logo {
  background-image: url("../../img/logo1.png");
  background-size: cover;
  height: 7em;
  width: 7em;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 50%;
}

.item-nav-links {
  letter-spacing: 2px;
  font-weight: bold;
  a {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.5em;
    font-family: "Permanent Marker", cursive;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
}

.item-nav-icons {
  .fa-user {
    color: rgba(255, 255, 255, 0.85);
    &:hover {
      color: #fff;
    }
  }

  .fa-shopping-cart {
    color: rgba(255, 255, 255, 0.85);
    z-index: 1;
    &:hover {
      color: #fff;
    }
  }
}

.icon-user {
  .dropdown-icon-user {
    .dropdown-menu-icon-user {
      left: -3rem !important;
      background-color: rgba(0, 0, 0, 0.9);
    }
    a {
      color: #fff;
      font-weight: bold;
    }

    .dropdown-item {
      font-size: 600;
      &:active,
      &:hover,
      &:visited {
        background-color: #ffb922;
      }
    }
  }
}

.icon-cart {
  Button {
    display: flex;
    :nth-child(1) {
      z-index: 10;
      background-color: #ffb922;
      border-radius: 50%;
      border: 1px solid #000;
      height: 1.5em;
      width: 1.5em;
      margin: 0 -0.8em -0.5em 0;
    }
  }
}

.icono-barras {
  cursor: pointer;
  color: #fff;
  display: none;
}

.icono-x {
  display: none;
}

.carrito-compras-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-top: -1rem;
  outline: none;
  background: none;
  border: none;
}

@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }

  .nav-logo {
    order: 0;
  }
  .icono-barras {
    display: block;
    order: -1;
  }
  .nav-icons {
    order: 1;
    margin-top: 1em;
    margin-right: 1em;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    flex-direction: column;
    height: 92vh;
    align-items: center;
    width: 100%;
    top: 139px;
    margin: 0;
    background-color: #000;
    font-size: 2rem;
    transform: translateY(-150%);
    transition: transform 0.5s ease-in-out;
    z-index: 10000000;
  }
  .active {
    transform: translateY(0%);
  }
}
