*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    
    background-color: #000;
}

.nav-container{
    display: flex;
    align-items: flex-start;
    width: 1136px;
    margin:auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 7.5rem;
}

.nav-links{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

}

.nav-icons{
    display: flex;
    align-items: center;

}

.fa-user{
    color: #fff;
}

.fa-shopping-cart{
    color:#fff;
}

.separacion-navbar{
    width: 20rem;
}

.item-nav-links a{
    color: #fff;
    margin: 0 8px;
}




li{
    list-style: none;
}