@charset "UTF-8";
.producto-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.producto-container .producto-pic-container {
  width: 320px;
  height: 320px;
}

.producto-container .producto-pic-container .producto-pic {
  width: 100%;
  height: 320px;
}

.info-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 15px 0 15px;
  border: solid 1px #000;
  padding: 1rem;
  border-radius: 10px;
}

.info-producto .producto-titulo {
  text-align: start;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.info-producto .linea-producto hr {
  margin: 0.6rem 0;
  height: 2px;
  color: #000;
}

.info-producto .producto-precio {
  text-align: start;
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
}

.info-producto .producto-envoltura {
  text-align: start;
  color: #000;
  padding: 0.5rem 0;
}

.info-producto .producto-envoltura .envoltura {
  font-style: italic;
  font-weight: 500;
  font-size: 1.2rem;
}

.info-producto .ing {
  text-align: start;
  font-weight: 600;
  font-size: 1.5rem;
}

.info-producto .producto-ingredientes {
  text-align: start;
  font-style: italic;
  font-weight: 500;
  color: #000;
  font-size: 1.2rem;
}

.info-producto .producto-ingredientes .ing-desc {
  text-align: start;
  font-style: italic;
  font-weight: 500;
  color: #000;
  font-size: 1.2rem;
}

.info-producto .añadir-al-carro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.info-producto .añadir-al-carro .cantidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 152px;
  padding: 0 15px;
  border: solid 1px;
  border-radius: 12px;
}

.info-producto .añadir-al-carro .cantidad .btn-cantidad-producto {
  border: none;
}

.info-producto .añadir-al-carro .boton-add-cart {
  margin: 0 15px;
}

.info-producto .añadir-al-carro .boton-add-cart input {
  width: 190px;
  height: 45px;
  background-color: #ffba00;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  font-family: "Roboto Slab", serif;
}

.info-producto .añadir-al-carro .boton-add-cart span {
  color: #fff;
}

.info-producto .añadir-al-carro .cantidad-productos {
  font-size: 1.5rem;
}

.fa-plus-square {
  color: #000;
}

.fa-minus-square {
  color: #000;
}

.return-to-products {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 0.4rem;
}

.message {
  display: block;
  padding: 1rem;
  text-align: center;
  font-weight: bolder;
  color: #fff;
  margin: 1rem 0;
  width: 100%;
  background-color: #218960;
}

@media screen and (max-width: 800px) {
  .producto-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80vw;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (max-width: 400px) {
  .producto-pic-container {
    width: 300px;
    height: 300px;
  }
  .info-producto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 15px 0 15px;
    border: solid 1px #000;
    padding: 1rem;
    border-radius: 10px;
  }
  .añadir-al-carro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .añadir-al-carro .cantidad {
    margin-bottom: 0.5rem;
  }
  .añadir-al-carro .boton {
    margin-top: 0.5rem;
  }
}
/*# sourceMappingURL=Producto.css.map */