.producto-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.producto-pic-container {
  width: 320px;
  height: 320px;
}

.producto-pic {
  width: 100%;
  height: 320px;
}

.linea-producto hr {
  margin: 0.6rem 0;
  height: 2px;
  color: #000;
}

.info-producto {
  display: flex;
  width: 24rem;
  flex-direction: column;
  margin: 15px 15px 0 15px;
  border: solid 1px #000;
  padding: 1rem;
  border-radius: 10px;
}

.producto-titulo {
  text-align: start;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.producto-precio {
  text-align: start;
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
}

.producto-envoltura {
  text-align: start;
  color: #000;
  padding: 0.5rem 0;
}

.envoltura {
  font-style: italic;
  font-weight: 500;
  font-size: 1.2rem;
}

.ing {
  text-align: start;
  font-weight: 600;
  font-size: 1.5rem;
}

.producto-ingredientes .ing-desc {
  text-align: start;
  font-style: italic;
  font-weight: 500;
  color: #000;
  font-size: 1.2rem;
}

.añadir-al-carro {
  display: flex;
  flex-flow: row wrap;
}

.cantidad {
  width: 152px;
  padding: 0 15px;
}

.boton {
  margin: 0 15px;
}

.boton input {
  width: 190px;
  height: 45px;
  background-color: #ffba00;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  font-family: "Roboto Slab", serif;
}

.cantidad {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border: solid 1px;
  border-radius: 12px;
}

.boton span {
  color: #fff;
}

.fa-plus-square {
  color: #000;
}

.fa-minus-square {
  color: #000;
}

.cantidad-productos {
  font-size: 1.5rem;
}

.btn-cantidad-producto {
  border: none;
}

@media screen and (max-width:800px) {
  .producto-container {
    display: flex;
    align-items: center;
    width: 80vw;
    margin:0 auto;
    flex-flow: column wrap;
    align-content: center;
  }
}

@media screen and (max-width:400px) {
  .producto-pic-container {
    width: 300px;
    height: 300px;
  }

  .info-producto {
    display: flex;
    width: 90vw;
    flex-direction: column;
    margin: 15px 15px 0 15px;
    border: solid 1px #000;
    padding: 1rem;
    border-radius: 10px;
  }

  .añadir-al-carro{
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .cantidad{
      margin-bottom: 0.5rem;
    }
    .boton{
      margin-top:0.5rem;
    }
  }
}