.footer {
  background-color: #000;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.footer-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 12vh;

  .footer-logo {
    background-image: url("../../img/logo1.png");
    background-size: cover;
    height: 7em;
    width: 7em;
    margin: 0.2em 0 0 0;
    border-radius: 50%;
  }
  .footer-iconos {
    width: 60%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-right: 6rem;

    @media screen and (max-width: 520px) {
      margin-left: 6rem;
    }
  }
}

.footer-ig a {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  margin: 0 0.5rem;
  cursor: pointer;
}

.footer-ig a:hover {
  background-color: #fff;
  transition: 0.4s ease-out;
}

.footer-ig i {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  height: 1.7rem;
  line-height: 1.8rem;
  color: #fff;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin: auto 0;
}

.footer-facebook a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-facebook a:hover {
  background-color: #fff;
  transition: 0.4s ease-out;
}

.footer-facebook i {
  color: #3b5998;
}

.footer-firma p {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
  color: #fff;
  height: 1.5rem;
  margin: 0;
}
