.changepassword-container-main {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;

  min-height: calc(100vh - 12vh - 140px - 8rem);
}
.changepassword-form-container {
  display: flex;
  align-items: flex-start;
  width: 30rem;
  margin: auto;
  flex-flow: column wrap;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid #00000020;
  padding: 1rem;
  Button {
    margin: 0.5em 0;
    width: 10rem;
    margin: 30px;
  }
}

.changepassword-text {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 20rem;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  color: #ffb922;
  margin: 20px;
}
