.form-title {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 0 auto;
}

.form-text {
  color: #ffba00;
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
}

.form-register h4 {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  margin: 1rem 0;
}

.form-register {
  min-height: calc(100vh - 12vh - 140px - 12rem);
  button {
    margin-top: 1rem;
  }
}

.footer-form-register{
    display: flex;
    justify-content: space-between;
    a{
        align-self: flex-end;
    } 
}

@media (max-width: 450px){
    .footer-form-register{
        flex-flow: column wrap;
        justify-content: center;
        button{
            margin: 1rem 0;
        }
        a{
            align-self: center;
            margin: 1rem 0;
        }
    }

}