.panel-nav {
  display: flex;
  flex-flow: column wrap;
  margin: 0 1rem 0 0;
  max-width: 20%;
  height: 16rem;
  background-color: #000;
  border-radius: 0.5rem;
  z-index: 100;
  .active {
    background-color: #ffb922;
    span {
      color: #000;
    }
  }
}

.panel-nav-item {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 3rem;
  background-color: black;

  span {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    align-self: center;
    padding-left: 1rem;
  }

  &:active,
  &:hover {
    background-color: #ffb922;
    span {
      color: #000;
    }
  }
}

@media screen and (max-width: 800px) {
  .panel-nav {
    max-width: 100%;
    flex-flow: column nowrap;
    .panel-nav-item {
      justify-content: center;
    }
  }
}
